@{
    ViewData["Title"] = "Home Page";
}

<div class=" text-center w-50 mx-auto">
    <h1 class="display-4">Welcome to the Magic the Gathering random card generator.</h1><br />
    <h2>Get a random magic card using the Scryfall API.</h2>

    <a asp-action="Index" asp-controller="Magic" class="btn btn-primary">Random Card</a>
</div>
